h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: teal;
    margin-top: 10vh;
    font-size: 5vw;
}
h5{
    text-align: center;
    margin-top: 30vh;
    color: teal;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
}